/* ----- FOOTER ----- */

footer {
    background-color: rgb(36, 36, 36);
    width: 100%;
    .foot_padre {
        margin: 40px 0 40px 0;
        display: flex;
        justify-content: space-between;
        .cont_logo_foot {
            // padding: 20px;
            margin-top: -90px;
            width: 25%;
            display: flex;
            align-items: center;
            .cont_imgLogo {
                background-image: url(../../imagenes/icono\ FINAL.ico);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 130px;
                height: 130px;
            }
            .logo_name_foot {
                margin-left: -15px;
                color: #fff;
                letter-spacing: 0.5px;
                .name_foot {
                    font-size: 20px;
                    font-weight: bold;
                }
                .job_foot {
                    font-size: 14px;
                }
            }
        }
        .sobre_nosotros {
            width: 50%;
            color: #fff;
            .sobre {
                // font-family: $primaryFont;
                letter-spacing: 0.5px;
                font-size: 20px;
            }
            .infoo {
                color: #cfcfcf;
                line-height: 23px;
                margin: 5px 0 20px 0;
            }
            .ubicacion {
                .contenedorUbi {
                    display: flex;
                    // justify-content: left;
                    // text-align: center;
                    .direccion {
                        margin-right: 180px;
                        h4 {
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                        p {
                            color: rgb(207, 207, 207);
                            line-height: 23px;
                        }
                    }
                    .contacto_info {
                        margin-right: 180px;
                        h4 {
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                        p {
                            color: rgb(207, 207, 207);
                            line-height: 23px;
                        }
                    }
                    .horarios {
                        .horariosHijo {
                            h4 {
                                margin-bottom: 10px;
                                font-size: 20px;
                            }
                            p {
                                color: rgb(207, 207, 207);
                                line-height: 23px;
                            }
                        }
                    }
                }
            }
        }
        .redes-sociales {
            width: 25%;
            .contac {
                letter-spacing: 0.5px;
                padding-bottom: 20px;
                font-weight: bold;
                font-size: 20px;
                color: #fff;
                text-align: center;
            }
            .contenedor-redes {
                display: flex;
                justify-content: center;
            }
            a {
                color: #fff;
                text-align: center;
                width: 80px;
                padding: 15px 0;
                border-radius: 3px;
                font-size: 25px;
                margin: 0 5px;
            }
            .twitter {
                &:hover {
                    background-color: map-get($map: $paletaRedes, $key: 'twitter');
                }
            }
            .facebook {
                &:hover {
                    background-color: map-get($map: $paletaRedes, $key: 'facebook');
                }
            }
            .instagram {
                &:hover {
                    background-color: map-get($map: $paletaRedes, $key: 'instagram');
                }
            }
            .whatsapp {
                &:hover {
                    background-color: map-get($map: $paletaRedes, $key: 'whatsapp');
                }
            }
        }
    }
}

.copy {
    width: 100%;
    // background-color: rgba(36, 36, 36, 0.993);
    background-color: rgb(36, 36, 36);
    .hr {
        margin: auto;
        border: none;
        height: 1px;
        background-color: #7a7a7a;
        max-width: 60%;
    }
    p {
        color: #fff;
        text-align: center;
        padding: 15px;
    }
}