/* ----- RESPONSIVE ----- */

/* ----- Extra large devices (large desktops, 1200px and up) ----- */
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    // Alquiler y Venta //
    .desc_icono {
        span {
            padding-left: 10px;
        }
    }
}

/* ----- Large devices (desktops, 992px and up) ----- */
@media screen and (max-width: 992px) {
    body {
        font-size: 11px;
    }
    // Alquiler y Venta //
    .desc_icono {
        span {
            padding-left: 10px;
        }
    }
}

/* ----- Medium devices (tablets, 768px and up) ----- */
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    // Alquiler y Venta //
    .desc_icono {
        span {
            padding-left: 16px;
        }
    }
    .casas {
        .casa1, .casa2, .casa3, .casa4, .casa5, .casa6 {
            width: 40%;
            margin: 0;
            margin-bottom: 20px;
        }
        .casa1, .casa3, .casa5 {
            margin-right: 20px;
        }
        .casa1, .casa2 {
            margin: 10px 10px 20px 10px;
        }
    }

    // Header //
    .logo {
        margin-left: -40px;
    }
    // MENU DE HAMBURGUESA //
    header {
        label {
            display: block;
            position: fixed;
            top: 2.5em;
            right: 2.5em;
        }
    }

    .menu {
        ul {
            position: fixed;
            top: 8.125em;
            right: -100%;
            background-color: #222;
            width: 45%;
            li {
                padding: 0;
                padding-top: 1.875em;
                margin: 0;
                display: block;
                display: flex;
                justify-content: center;
                &:hover {
                    background-color: rgba(255,255,255,.2);
                }
                a {
                    color: #fff;
                    padding-bottom: 1.5625em;
                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
    header {
        label {
            top: 1.5625rem;
        }
    }

    #check {
        // .fa-solid {
        //     padding-bottom: 10px;
        // }
        &:checked ~ .menu {
            ul {
                right: 0px;
                transition: all .40s;
            }
        }
    }
    
    .contenedorTexto {
        h1 {
            font-size: 2.375em;
        }
    }

}

/* ----- Small devices (Landscape phones, 576px and up) ----- */
@media screen and (max-width: 576px) {
    body {
        font-size: 12px;
    }

    // Alquiler y Venta //
    .casas {
        .casa1, .casa2, .casa3, .casa4, .casa5, .casa6 {
            width: 80%;
            margin: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: 10px;
    }
    header {
        label {
            top: 1.2rem;
        }
    }
}




